[MASTER]
# Permet d’ignorer certains fichiers/dossiers
ignore=venv,env,__pycache__

[MESSAGES CONTROL]
# Désactiver certaines règles spécifiques
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0301,  # line-too-long
    C0302,  # too-many-lines
    C0415,  # import-outside-toplevel
    C3001,  # unnecessary-lambda-assignment
    E2515,  # invalid-character-zero-width-space
    R0801,  # duplicate-code
    R0902,  # too-many-instance-attributes
    R0903,  # too-few-public-methods
    R0911,  # too-many-return-statements
    R0912,  # too-many-branches
    R0913,  # too-many-arguments
    R0914,  # too-many-locals
    R0915,  # too-many-statements
    R0917,  # too-many-positional-arguments
    R1702,  # too-many-nested-blocks
    W0221,  # arguments-differ
    W0603,  # global-statement
    W0718,  # bare-except
    W0719,  # broad-exception-raised

[FORMAT]
# Taille max d'une ligne
max-line-length=150

[TYPECHECK]
# Options liées à la vérification des types

[REPORTS]
# Pas besoin de rapport de score à la fin
reports=no

[LOGGING]
# Laisse les appels logger.info(), etc., sans les faire râler
logging-modules=logging

[BASIC]

# Fonctions : snake_case uniquement
function-rgx=[a-z_][a-z0-9_]{2,}$

# Variables : camelCase uniquement (commence par minuscule, peut avoir des majuscules ensuite)
variable-rgx=[a-z]+[a-zA-Z0-9]*$

# Constantes en MAJUSCULES avec underscores
const-rgx=([A-Z_][A-Z0-9_]*)$

# Attributs (variables d'instance ou de classe) en camelCase
attr-rgx=[a-z]+[a-zA-Z0-9]*$

# Paramètres de fonction en camelCase (commence par une minuscule, peut avoir majuscules)
argument-rgx=[a-z]+[a-zA-Z0-9]*$

[DESIGN]

max-returns=10